
.footer {
  width: 100%;
  padding: 5vh 0;
  color: #FFF;
  background-color: #272727;
  text-align: center;
}

.footer-content-head {
  font-family: "游明朝", serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-link {
  font-family: "游明朝", serif;
  color: #FFF;
  font-size: 12px;
  line-height: 30px;
  text-decoration: none;
}

.logo-white {
  width: 20vh;
  vertical-align: bottom;
}

.footer>p {
  margin-top: 10px;
  font-family: "游明朝", serif;
  font-size: 14px;
}