/* 下部広告部分 */
/* items/index.htmlの広告cssを所々使いまわしています。 */



/* //下部広告部分 */

.footer {
  width: 100vw;
  padding: 5vh 0;
  color: #FFF;
  background-color: #272727;
  text-align: center;
}

.footer-content-head {
  font-family: 'Georgia', serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-link {
  font-family: 'Georgia', serif;
  color: #FFF;
  font-size: 12px;
  line-height: 30px;
}

.logo-white {
  width: 20vh;
  vertical-align: bottom;
}

.footer>p {
  margin-top: 10px;
  font-family: 'Georgia', serif;
  font-size: 14px;
}