.form-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
}

.form-logo {
  width: 150px;
  height:150px;
}

.form-bar{
    height: 40px;
    width: 100%;
    background: #3b3b43;
    top: 100%;
}
