<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
  </p>
  <h2 class='ad-footer-title'>
  </h2>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='furima-details'>
    <h2 class='footer-content-head'>顧客管理システムについて</h2>
    <ul>
      <li><%= link_to 'システム利用ガイド', "#", class: "footer-link" %></li>
      <li><%= link_to 'ガイドライン', "#", class: "footer-link" %></li>
      <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
    </ul>
  </div>
  <%= link_to image_tag("footer-logo.png", class:"logo-white"), "#" %>
  <p>© DoiMasaru Co., Ltd. All Rights Reserved. </p>
</div>