
  <%= render "shared/header" %>

  <ul class='lists-new'>
      <li><%= link_to '顧客一覧', "#", class: "new_customer" %></li>
      <li><%= link_to '顧客登録', "#", class: "new_dialy" %></li>
  </ul>

<%= render "shared/footer" %>