.lists-new{
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: 	#f5f5f5;
}

.new_customer{
  font-family: 'Georgia', serif;
  color:  #333333;
  font-size: 30px;
  border: 2px solid  #333333;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  background-color: white;
}

.new_dialy{
  font-family: 'Georgia', serif;
  color:  #333333;
  font-size: 30px;
  border: 2px solid  #333333;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  background-color: white;
}

