.index-customer-title{
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: "游明朝", serif;
  margin: 40px;
}

.customer-none-title{
  font-family: "游明朝", serif;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 30px;
  margin: 100px auto;
}

.customer-show-btn{
  border-radius: 6px;
  font-size: 15px;
  text-decoration: none;
  color:  white;
  background-color: #5bc8ac;
  padding: 5px;
  font-weight: bold;
}

.daily-show-btn{
  border-radius: 6px;
  font-size: 15px;
  text-decoration: none;
  color:  white;
  background-color: #5bc8ac;
  padding: 5px;
  font-weight: bold;
}

.customer-new-item{
  text-align: center;
  margin-bottom: 100px;
}

.customer-new-btn{
  font-family: "游明朝", serif;
  color: white;
  font-size: 20px;
  padding: 10px;
  width: 20vh;
  text-decoration: none;
  background-color: #5bc8ac;
  border-radius: 6px;
  font-weight: bold;
}

.flex-table {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  font-family: "游明朝", serif;
  margin: 100px;
  text-align: center;
  font-size: 15px;
  width: 80%;
  margin: 100px auto;
}

.flex-row {
  display: flex;
}

.flex-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 1rem;
  border: 1px solid #ddd;
}

.header {
  font-weight: bold;
  background-color: #ccc;
}